.appwrapper {
background-color: white; 
}
.contenedor {
position: relative;
text-align: center;
}

.cuadrado{
width: 850px; 
height: 600px; 
margin: auto;
margin-top: 80px;
background-color: white;
border: 2px solid black;
overflow: auto;
}

.label{
position: absolute;
top: -30px; 
left: 25%; 
transform: translateX(-50%);
font-family: Arial;
font-weight: bold;
}

.listafiltros{
position: absolute;
top: 20px;
right: 1177px;
z-index: 1;
background-color: white;
padding: 10px;
border: 1px solid black;
border-radius: 5px;
text-align: left;
}

.buscador {
width: 300px; 
margin: 0 auto; 
text-align: center;
}
.buscador .lupa {
position: absolute;
left: 5px;
top: 8px;
}

.buscador button{
background-color: gray; 
color: white; 
}

.buscador button:hover{
background-color: darkgrey; 
}

.botonperfil {
text-align: center;
position: absolute;
top: 40px; 
left: 94%;
position: absolute;
transform: translate(-50%, -50%);
}

.botonperfil button {
background-color: #ffa101;
color: white;
border: 80px;
padding: 5px 10px;
cursor: pointer;
border-radius: 5px;
width: 100px;
height: auto; 
margin-right: 4px;
}

.botonpubli {
text-align: center;
position: absolute;
top: -50px; 
left: 67.5%; 
}
.botonpubli button {
background-color: green; 
color: white; 
border: none; 
padding: 10px 20px; 
cursor: pointer; 
border-radius: 5px; 
}

.botonpubli button:hover {
background-color: darkgreen; 
}

.imagencontainer {
position: absolute; 
top: 0; 
left: 0 
}

.imagen {
width: 250px; 
}

.textar {
width: 140px; 
height: 20px;
resize: none;
position: absolute;
top: 20px;
left: 1250px;
text-align: right;
border: none;
margin-top: 40px;
}